<div class="menu">
    <mat-toolbar>
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container"
    >
        <mat-sidenav #snav [mode]="this.mobileQuery.matches ? 'over' : 'side'" [opened]="!this.mobileQuery.matches"
        fixedTopGap="56"
            [fixedInViewport]="this.mobileQuery.matches">
            <div class="sidenav">

                <div class="profile">
                    <img  src="../../../assets/images/profile.jpg" alt="">
                    <div class="profile__description">
                        <div>{{'software developer' | uppercase}}</div>
                    </div>
                </div>
                <!-- <button mat-icon-button><mat-icon svgIcon="linkedin"></mat-icon></button> -->

            </div>
            <mat-nav-list>
                <a class="sidenav__item" mat-list-item routerLink="{{item.path}}" *ngFor="let item of nav"><mat-icon>{{item.icon}}</mat-icon> {{item.name}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>